.gallery-slider {
  .slick-list {
    .slick-track {
      display: flex;
      align-items: stretch;
      > div {
        height: auto;
        > div {
          height: 100%;
        }
      }
    }
  }
}
.slider-1-gallery {
  .slick-list {
    .slick-track {
      display: flex;
      align-items: stretch;
      > div {
        height: auto;
        > div {
          height: 100%;
        }
      }
    }
  }
}
